RewriteEngine on
Options +FollowSymLinks

php_flag display_startup_errors on
php_flag display_errors on
php_flag html_errors on
php_flag  log_errors on

#RewriteCond %{HTTP_HOST} !^www\.
#RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1

RewriteCond $1 !^(index\.php|images|js|css|static|files|robots\.txt)

php_value memory_limit 96M
php_value upload_max_filesize 64M
php_value post_max_size 64M